<a href="https://colab.research.google.com/github/bbombver/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

In [ ]:
dict_b['a'] = 567

In [ ]:
dict_b

{'a': 567}

## การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
b = print_myname()

Thanapong

In [ ]:
b

In [ ]:
def print_name(name):   # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat')

In [ ]:
a

'ชื่อ stat'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('อินทระ','66xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 66xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
print(out_printname2)

None

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข','663020292-1')

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข','663020292-1','A')

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5
เขียน function ของ HW2

commit "quiz5"

# Quiz6
เขียน function ของ HW2 -> มีการใช้ ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

commit "quiz6"

In [ ]:
# prompt: เขียนฟังก์ชั่นคำนวณวินาที จาก เวลาที่ใส่เข้ามา

def calculate_seconds(hours, minutes, seconds):
  """
  คำนวณวินาทีรวมจากชั่วโมง นาที และวินาทีที่กำหนด

  Args:
    hours: จำนวนชั่วโมง
    minutes: จำนวนนาที
    seconds: จำนวนวินาที

  Returns:
    จำนวนวินาทีทั้งหมด
  """
  total_seconds = (hours * 3600) + (minutes * 60) + seconds
  return total_seconds

# ตัวอย่างการใช้งาน
hours = 1
minutes = 30
seconds = 45
total = calculate_seconds(hours, minutes, seconds)
print(f"{hours} ชั่วโมง {minutes} นาที {seconds} วินาที เท่ากับ {total} วินาที")

#inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp

- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc','def')

abc def

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

เขียนขึ้นต้นด้วย for

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [1]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [2]:
for i in 'Thanapong':
    print(i,end = '->/' )

T->/h->/a->/n->/a->/p->/o->/n->/g->/

ขึ้นบรรทัดใหม่ \n

In [3]:
for i in 'Thanapong':
    print(i,end = '->/\n' )

T->/
h->/
a->/
n->/
a->/
p->/
o->/
n->/
g->/

In [5]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

วนลูปหลายๆรอบ ใช้คำสั่ง range เจนเนอเลทตัวเลขให้เรียงอัตโนมัติ

In [6]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [7]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [8]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

 ## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [10]:
index = 0
for i in 'wachirawit':
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
  index += 1

สมาชิกคือ w เป็นลำดับที่ 0
สมาชิกคือ a เป็นลำดับที่ 1
สมาชิกคือ c เป็นลำดับที่ 2
สมาชิกคือ h เป็นลำดับที่ 3
สมาชิกคือ i เป็นลำดับที่ 4
สมาชิกคือ r เป็นลำดับที่ 5
สมาชิกคือ a เป็นลำดับที่ 6
สมาชิกคือ w เป็นลำดับที่ 7
สมาชิกคือ i เป็นลำดับที่ 8
สมาชิกคือ t เป็นลำดับที่ 9

In [13]:
for index, i in enumerate('wachirawit'):
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ w เป็นลำดับที่ 0
สมาชิกคือ a เป็นลำดับที่ 1
สมาชิกคือ c เป็นลำดับที่ 2
สมาชิกคือ h เป็นลำดับที่ 3
สมาชิกคือ i เป็นลำดับที่ 4
สมาชิกคือ r เป็นลำดับที่ 5
สมาชิกคือ a เป็นลำดับที่ 6
สมาชิกคือ w เป็นลำดับที่ 7
สมาชิกคือ i เป็นลำดับที่ 8
สมาชิกคือ t เป็นลำดับที่ 9

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

ตัวอย่างการวน2ลูป

In [14]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz 7 วนลูป แสดงค่าตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [17]:
# prompt: # Quiz 7 วนลูป แสดงค่าตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้
# ex:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [18]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [19]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ท','จ่าหนึ่ง','บักโส']

In [20]:
print_feelings('แก้ม',list_friends)

แก้ม คิดถึง คุณหนูเบียร์
แก้ม คิดถึง พ่อใหญ่เฟิร์ส
แก้ม คิดถึง อ้ายสีหนุ่ท
แก้ม คิดถึง จ่าหนึ่ง
แก้ม คิดถึง บักโส

In [21]:
print_feelings('แก้ม','พ่อใหญ่เฟิร์ส')

แก้ม คิดถึง พ
แก้ม คิดถึง ่
แก้ม คิดถึง อ
แก้ม คิดถึง ใ
แก้ม คิดถึง ห
แก้ม คิดถึง ญ
แก้ม คิดถึง ่
แก้ม คิดถึง เ
แก้ม คิดถึง ฟ
แก้ม คิดถึง ิ
แก้ม คิดถึง ร
แก้ม คิดถึง ์
แก้ม คิดถึง ส

In [25]:
print_feelings('เเก้ม',list_friends,'ซัง')

เเก้ม ซัง คุณหนูเบียร์
เเก้ม ซัง พ่อใหญ่เฟิร์ส
เเก้ม ซัง อ้ายสีหนุ่ท
เเก้ม ซัง จ่าหนึ่ง
เเก้ม ซัง บักโส

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [32]:
name_grade = {'A' : 'B','C' : 'D','E' : 'F','G' : 'H'}
name_grade

{'A': 'B', 'C': 'D', 'E': 'F', 'G': 'H'}

In [34]:
name_grade['ปนัดดา']

KeyError: 'B'

In [28]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [29]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [30]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [31]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

##HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวน วินาที ในโจทย์ ต่อไปนี้
เพิ่ม loop เข้าไปใน Quiz6 โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้

"10:00:00", "Monday", "11:30:00"

"11:30:00", "Monday", "10:00:00", "Monday"

"23:00:00", "Sunday", "01:00:00"

"01:00:00", "Monday", "23:00:00", "Sunday"

"10:00:00", "Tuesday", "11:30:00", "Thursday"

"11:30:00", "Thursday", "10:00:00", "Tuesday"

"12:00:00", "Monday", "12:00:00", "Monday"

"12:00:00", "Monday", "12:00:00", "Tuesday"

"00:00:00", "Monday", "23:59:59"

"23:59:59", "Sunday", "00:00:00", "Monday"

In [19]:
def time_to_seconds(time_str):
  """Converts a time string (HH:MM:SS) to total seconds from midnight."""
  h, m, s = map(int, time_str.split(':'))
  return h * 3600 + m * 60 + s

def day_to_number(day_str):
  """Converts a day string to a number (Monday=0, Sunday=6)."""
  days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
  days_thai = ["จันทร์", "อังคาร", "พุธ", "พฤหัสบดี", "ศุกร์", "เสาร์", "อาทิตย์"]
  if day_str in days:
      return days.index(day_str)
  elif day_str in days_thai:
      return days_thai.index(day_str)
  else:
      return -1 # Indicate invalid day

def calculate_diff_seconds(start_time_str, start_day_str=None, end_time_str=None, end_day_str=None):

  start_seconds = time_to_seconds(start_time_str)

  if end_time_str is None:
      end_seconds = start_seconds
  else:
      end_seconds = time_to_seconds(end_time_str)

  start_day_num = day_to_number(start_day_str) if start_day_str else 0
  end_day_num = day_to_number(end_day_str) if end_day_str else (start_day_num if start_day_str else 0)

  # Calculate total seconds from the beginning of the week (Monday midnight)
  start_total_seconds = start_day_num * 24 * 3600 + start_seconds
  end_total_seconds = end_day_num * 24 * 3600 + end_seconds

  # Handle cases where the end time is earlier in the week than the start time
  if end_total_seconds < start_total_seconds:
      # Assume the end time is in the following week
      end_total_seconds += 7 * 24 * 3600

  return end_total_seconds - start_total_seconds

# List of time scenarios
time_scenarios = [
    ("10:00:00", "Monday", "11:30:00"),
    ("11:30:00", "Monday", "10:00:00", "Monday"),
    ("23:00:00", "Sunday", "01:00:00"),
    ("01:00:00", "Monday", "23:00:00", "Sunday"),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday"),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday"),
    ("12:00:00", "Monday", "12:00:00", "Monday"),
    ("12:00:00", "Monday", "12:00:00", "Tuesday"),
    ("00:00:00", "Monday", "23:59:59"),
    ("23:59:59", "Sunday", "00:00:00", "Monday"),
    ("23:59:59", "อาทิตย์", "00:00:00", "จันทร์") # Thai days
]

In [20]:
# Loop through the scenarios and calculate the difference
for scenario in time_scenarios:
    if len(scenario) == 3:
        start_time, start_day, end_time = scenario
        diff = calculate_diff_seconds(start_time, start_day, end_time, start_day)
        print(f"เวลาเริ่มต้น: {start_time} ({start_day}), เวลาสิ้นสุด: {end_time} ({start_day}) -> ผลต่าง: {diff} วินาที")
    elif len(scenario) == 4:
        start_time, start_day, end_time, end_day = scenario
        diff = calculate_diff_seconds(start_time, start_day, end_time, end_day)
        print(f"เวลาเริ่มต้น: {start_time} ({start_day}), เวลาสิ้นสุด: {end_time} ({end_day}) -> ผลต่าง: {diff} วินาที")

เวลาเริ่มต้น: 10:00:00 (Monday), เวลาสิ้นสุด: 11:30:00 (Monday) -> ผลต่าง: 5400 วินาที
เวลาเริ่มต้น: 11:30:00 (Monday), เวลาสิ้นสุด: 10:00:00 (Monday) -> ผลต่าง: 599400 วินาที
เวลาเริ่มต้น: 23:00:00 (Sunday), เวลาสิ้นสุด: 01:00:00 (Sunday) -> ผลต่าง: 525600 วินาที
เวลาเริ่มต้น: 01:00:00 (Monday), เวลาสิ้นสุด: 23:00:00 (Sunday) -> ผลต่าง: 597600 วินาที
เวลาเริ่มต้น: 10:00:00 (Tuesday), เวลาสิ้นสุด: 11:30:00 (Thursday) -> ผลต่าง: 178200 วินาที
เวลาเริ่มต้น: 11:30:00 (Thursday), เวลาสิ้นสุด: 10:00:00 (Tuesday) -> ผลต่าง: 426600 วินาที
เวลาเริ่มต้น: 12:00:00 (Monday), เวลาสิ้นสุด: 12:00:00 (Monday) -> ผลต่าง: 0 วินาที
เวลาเริ่มต้น: 12:00:00 (Monday), เวลาสิ้นสุด: 12:00:00 (Tuesday) -> ผลต่าง: 86400 วินาที
เวลาเริ่มต้น: 00:00:00 (Monday), เวลาสิ้นสุด: 23:59:59 (Monday) -> ผลต่าง: 86399 วินาที
เวลาเริ่มต้น: 23:59:59 (Sunday), เวลาสิ้นสุด: 00:00:00 (Monday) -> ผลต่าง: 1 วินาที
เวลาเริ่มต้น: 23:59:59 (อาทิตย์), เวลาสิ้นสุด: 00:00:00 (จันทร์) -> ผลต่าง: 1 วินาที

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish